In [146]:
#csv파일 통합하기 

import pandas as pd
from glob import glob

file_names = glob("./*.csv") #폴더 내의 모든 csv파일 목록을 불러온다
total = pd.DataFrame() #빈 데이터프레임 하나를 생성한다

for file_name in file_names:
    temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    total = pd.concat([total, temp]) #전체 데이터프레임에 추가하여 넣는다

total.to_csv("./total.csv")


# df1 = pd.read_csv('./2019.csv',encoding='ANSI')
# df2 = pd.read_csv('./2020.csv',encoding='ANSI')
# df3 = pd.read_csv('./2021.csv',encoding='ANSI')
# df4 = pd.read_csv('./2022.csv',encoding='ANSI')
# df5 = pd.read_csv('./2023.csv',encoding='ANSI')


# df = pd.concat([df1, df2, df3,df4,df5], ignore_index=True, encoding='ANSI')

C:\Users\Master\AppData\Local\Temp\ipykernel_13796\3935597690.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
C:\Users\Master\AppData\Local\Temp\ipykernel_13796\3935597690.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
C:\Users\Master\AppData\Local\Temp\ipykernel_13796\3935597690.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
C:\Users\Master\AppData\Local\Temp\ipykernel_13796\3935597690.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
C:\Users\Master\AppData\Local\Temp\ipykernel_13796\3935597690.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
C:\Users\Master\AppData\Local\Temp\ipykernel_13796\3935597690.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  temp = pd.read_csv(file_name, sep='구분자', encoding='ANSI') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다

KeyboardInterrupt:

In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("./2019-2023가계동향조사.csv", encoding="ANSI")

df = pd.DataFrame(data)
df
# print(df)

a = df[(df['가구원수'] == 1) & (df["가구주_연령"] >= 20) & (df["가구주_연령"] <= 30)].groupby("조사연월").value_counts() #월별 가구수가1이고 연령이 20-30인 데이터 개수  
pd.DataFrame(a)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       count
조사연월   Unnamed: 0 가구일련번호 가구구분코드 가구원수 취업인원수 노인가구여부 배우자코드 가구주_성별코드 가구주_연령 가구주_취업여부 거처구분코드 자동차보유대수 입주형태코드 월세평가금액 전세보증금  소득구간코드 가계지출금액  가계지출_소비지출금액 가계지출_소비지출_식료품비주류음료구입비 가계지출_소비지출_식료품비주류음료_곡물구입비 가계지출_소비지출_식료품비주류음료_곡물가공품구입비 가계지출_소비지출_식료품비주류음료_빵떡류구입비 가계지출_소비지출_식료품비주류음료_육류구입비 가계지출_소비지출_식료품비주류음료_육류가공품구입비 가계지출_소비지출_식료품비주류음료_신선수산동물구입비 가계지출_소비지출_식료품비주류음료_염건수산동물구입비 가계지출_소비지출_식료품비주류음료_기타수산동물가공구입비 가계지출_소비지출_식료품비주류음료_유제품및알구입비 가계지출_소비지출_식료품비주류음료_유지류구입비 가계지출_소비지출_식료품비주류음료_과일가공품구입비 가계지출_소비지출_식료품비주류음료_채소가공품구입비 가계지출_소비지출_식료품비주류음료_해조가공품구입비 가계지출_소비지출_식료품비주류음료_당류과자류구입비 가계지출_소비지출_식료품비주류음료_조미식품구입비 가계지출_소비지출_식료품비주류음료_기타식품구입비 가계지출_소비지출_식료품비주류음료_커피차구입비 가계지출_소비지출_식료품비주류음료_쥬스기타음료구입비 가계지출_소비지출_주류담배구입비 가계지출_소비지출_주류담배_주류구입비 가계지출_소비지출_주류담배_담배구입비 가계지출_소비지출_의류신발구입비 가계지출_소비지출_의류신발_직물및외의구입비 가계지출_소비지출_의류신발_내의구입비 가계지출_소비지출_의류신발_기타의복구입비 가계지출_소비지출_의류신발_의복관련서비스구입비 가계지출_소비지출_의류신발_신발구입비 가계지출_소비지출_의류신발_신발서비스구입비 가계지출_소비지출_주거수도광열비 가계지출_소비지출_주거수도광열_실제주거비구입비 가계지출_소비지출_주거수도광열_주택유지수선구입비 가계지출_소비지출_주거수도광열_상하수도폐기물처리비 가계지출_소비지출_주거수도광열_기타주거관련서비스구입비 가계지출_소비지출_주거수도광열_연료비구입비 가계지출_소비지출_가정용품가사서비스이용금액 가계지출_소비지출_가정용품가사서비스_가구조명구입비 가계지출_소비지출_가정용품가사서비스_실내장식구입비 가계지출_소비지출_가정용품가사서비스_가구조명장식서비스이용금액 가계지출_소비지출_가정용품가사서비스_가정용섬유구입비 가계지출_소비지출_가정용품가사서비스_가전가정용기기구입비 가계지출_소비지출_가정용품가사서비스_가전관련서비스이용금액 가계지출_소비지출_가정용품가사서비스_가사용품구입비 가계지출_소비지출_가정용품가사서비스_가정용공구기타구입비 가계지출_소비지출_가정용품가사서비스_가사소모품구입비 가계지출_소비지출_가정용품가사서비스_가사서비스금액 가계지출_소비지출_보건제품구입비 가계지출_소비지출_보건_의약품구입비 가계지출_소비지출_보건_의료용소모품구입비 가계지출_소비지출_보건_보건의료용품기구구입비 가계지출_소비지출_보건_외래의료서비스이용금액 가계지출_소비지출_보건_치과서비스이용금액 가계지출_소비지출_보건_기타의료서비스이용금액 가계지출_소비지출_보건_입원서비스이용금액 가계지출_소비지출_교통비 가계지출_소비지출_교통_자동차구입비 가계지출_소비지출_교통_기타운송기구구입비 가계지출_소비지출_교통_운송기구유지수리비 가계지출_소비지출_교통_운송기구연료비 가계지출_소비지출_교통_기타개인교통서비스이용금액 가계지출_소비지출_교통_철도운송금액 가계지출_소비지출_교통_육상운송금액 가계지출_소비지출_교통_기타운송금액 가계지출_소비지출_교통_기타교통관련서비스이용금액 가계지출_소비지출_통신비 가계지출_소비지출_통신_우편서비스이용금액 가계지출_소비지출_통신_통신장비구입비 가계지출_소비지출_통신_통신서비스이용금액 가계지출_소비지출_오락문화비 가계지출_소비지출_오락문화_영상음향기기구입비 가계지출_소비지출_오락문화_사진광학장비구입비 가계지출_소비지출_오락문화_정보처리장치구입비 가계지출_소비지출_오락문화_기록매체구입비 가계지출_소비지출_오락문화_영상음향정보기기수리비 가계지출_소비지출_오락문화_내구재구입비 가계지출_소비지출_오락문화_악기기구구입비 가계지출_소비지출_오락문화_오락문화내구재유지수리비 가계지출_소비지출_오락문화_장난감취미용품구입비 가계지출_소비지출_오락문화_캠핑운동관련용품구입비 가계지출_소비지출_오락문화_화훼관련용품구입비 가계지출_소비지출_오락문화_애완동물관련물품구입비 가계지출_소비지출_오락문화_화훼애완동물서비스이용금액 가계지출_소비지출_오락문화_운동오락서비스이용금액 가계지출_소비지출_오락문화_문화서비스이용금액 가계지출_소비지출_오락문화_복권구입비 가계지출_소비지출_오락문화_서적구입비 가계지출_소비지출_오락문화_기타인쇄물구입비 가계지출_소비지출_오락문화_문구구입비 가계지출_소비지출_오락문화_단체여행경비 가계지출_소비지출_교육비 가계지출_소비지출_교육_정규교육비 가계지출_소비지출_교육_초등교육비 가계지출_소비지출_교육_중등교육비 가계지출_소비지출_교육_고등교육비 가계지출_소비지출_교육_학원보습교육비 가계지출_소비지출_교육_학생학원교육비 가계지출_소비지출_교육_성인학원비 가계지출_소비지출_교육_기타교육비 가계지출_소비지출_음식숙박비 가계지출_소비지출_음식숙박_식대 가계지출_소비지출_음식숙박_숙박비 가계지출_소비지출_기타상품서비스이용금액 가계지출_소비지출_기타상품서비스_이미용서비스이용금액 가계지출_소비지출_기타상품서비스_이미용기기구입비 가계지출_소비지출_기타상품서비스_위생이미용용품구입비 가계지출_소비지출_기타상품서비스_시계장신구구입비 가계지출_소비지출_기타상품서비스_기타개인용품구입비 가계지출_소비지출_기타상품서비스_복지시설비용금액 가계지출_소비지출_기타상품서비스_보험료 가계지출_소비지출_기타상품서비스_기타금융구입비 가계지출_소비지출_기타상품서비스_기타서비스금액구입비 가계지출_비소비지출금액 가계지출_비소비지출_경상조세 가계지출_비소비지출_비경상조세 가계지출_비소비지출_연금기여금 가계지출_비소비지출_사회보장구입비 가계지출_비소비지출_이자비용 가계지출_비소비지출_가구간이전지출금액 가계지출_비소비지출_비영리단체이전지출금액 도시읍면부구분코드
201900 5          6      2      1    1     0      3     1        30     1        1      0       6      400    10000  1      1281308 1180308     163525                5667                     11592                       11092                     12400                    3880                        0                            0                            0                              6717                        1733                      2762                        11953                       0                           20310                       4497                       29672                      10467                     30785                        11847             11847                0                    8177              7177                    0                    0                      0                         1000                 0                       409643            350000                    7225                       15082                       0                             37337                   129128                  18987                       0                           0                                 583                          81853                          0                               4917                        4200                           18588                        0                           9933              4867                0                      1483                     0                        3583                   0                        0                      124507        0                   0                      0                      0                    0                          28900               77440               17333               833                        69847         0                      0                    69847                  93977           0                        0                        0                        4650                   0                          0                     0                      0                           0                         0                          2333                     33230                      0                            30247                      1450                     0                    11975                333                     9758                 0                     0             0                  0                  0                  0                  0                    0                    0                  0                  139950          139950            0                  19775                 5200                         0                          4050                         0                          9500                        0                          0                     500                       525                          101000       1000            0                0                0                  0               100000               0                      1              1
       30         31     2      1    0     0      3     2        27     2        6      0       4      1100   267000 6      2096406 1027999     34841                 0                        3083                        5250                      0                        0                           0                            0                            200                            2380                        1117                      6117                        467                         1092                        7743                        100                        413                        997                       5883                         520               520                  0                    124430            46030                   31500                12250                  0                         34650                0                       172728            0                         0                          6087                        143885                        22757                   112930                  5967                        0                           0                                 5833                         95333                          0                               0                           0                              5797                         0                           96572             55773               23648                  0                        17150                    0                      0                        0                      35363         0                   0                      0                      0                    0                          8800                3933                22030               600                        61684         0                      0                    61684                  56178           0                        0                        0                        0                      0                          0                     0                      0                           5498                      1150                       3300                     0                          0                            18667                      17869                    0                    9695                 0                       0                    0                     33333         0                  0                  0                  0                  33333                0                    33333              0                  147913          147913            0                  151506                65000                        0                          17087                        11000                      0                           0                          53419                 0                         5000                         1068407      0               0                0                51740              0               1016667              0                      1              1
       8837       8838   2      1    0     0      3     2        24     2        1      0       6      310    2000   1      348738  348738      83300                 3800                     6594                        4260                      1686                     7630                        0                            1200                         7020                           7612                        480                       0                           6896                        1678                        5258                        3590                       16602                      0                         8994                         0                 0                    0                    7380              1980                    1200                 1600                   2000                      600                  0                       31430             0                         0                          2770                        20000                         8660                    4282                    0                           0                           0                                 0                            0                              0                               600                         2140                           1542                         0                           39960             13720               0                      0                        26240                    0                      0                        0                      77000         0                   0                      0                      0                    0                          0                   76600               0                   400                        44000         0                      0                    44000                  7114            0                        0                        0                        0                      0                          0                     0                      0                           0                         0                          0                        0                          0                            2800                       2514                     0                    0                    0                       1800                 0                     0             0                  0                  0                  0                  0                    0                    0                  0                  41492           41492             0                  12780                 6400                         0                          2180                         3200                       1000                        0                          0                     0                         0                            0            0               0                0                0                  0               0                    0                      1              1
       8484       8485   2      1    1     0      3     2        25     1        1      0       6      280    2000   3      780508  769508      22750                 0                        1950                        3980                      0                        990                         0                            0                            0                              0                           0                         0                           11140                       1500                        2200                        0                          990                        0                         0                            5000              5000                 0                    0                 0                       0                    0                      0                         0                    0                       328500            265000                    0                          11000                       0                             52500                   25000                   0                           0                           0                                 0                            0                              0                               0                           0                              25000                        0                           10200             4800                0                      0                        5400                     0                      0                        0                      30000         0                   0                      0                      0                    0                          0                   0                   30000               0                          66208         0                      0                    66208                  7910            0                        0                        0                        0                      0                          0                     0                      0                           0                         0                          0                        0                          0                            0                          7910                     0                    0                    0                       0                    0                     0             0                  0                  0                  0                  0                    0                    0                  0                  77000           77000             0                  196940                0                            0                          146800                       0                          0                           0                          50140                 0                         0                            11000        0               0                0                11000              0               0                    0                      0              1

In [98]:
#년도별 가구원이 1이고 연령이 20이상 30이하인 데이터 개수 구하기 

data1 = df[(df['가구원수'] == 1) & (df["가구주_연령"] >= 20) & (df["가구주_연령"] <= 30)].groupby(["조사연월","가구원수"])["가구주_연령"].value_counts()
data2 = df[(df['가구원수'] == 1) & (df["가구주_연령"] >= 20) & (df["가구주_연령"] <= 30)].groupby(["조사연월","가구원수","가구주_연령"])["가구주_연령"].count()
pd.DataFrame(data1)

                    count
조사연월   가구원수 가구주_연령
201900 1    28         56
            29         53
            27         45
            25         42
            26         40
            22         38
            24         37
            23         33
            30         32
            21         23
            20         22
202000 1    29         77
            27         71
            28         68
            26         67
            30         66
            25         59
            23         55
            24         46
            22         30
            21         26
            20         13
202100 1    29         83
            27         80
            26         78
            28         72
            30         67
            25         56
            24         55
            23         42
            22         29
            21         23
            20         10
202200 1    29         88
            27         87
            28         82
            26         81
            30         78
            25         73
            24         54
            23         41
            22         36
            21         33
            20         13
202300 1    29         99
            27         97
            28         93
            26         88
            30         87
            25         78
            24         58
            23         49
            22         44
            21         28
            20         24

In [99]:
#월별 가구원이 1인 20~30대별 총 데이터 개수 
age = pd.DataFrame(data2)
age.columns = ["해당연령의 인원수"]
age

                    해당연령의 인원수
조사연월   가구원수 가구주_연령
201900 1    20             22
            21             23
            22             38
            23             33
            24             37
            25             42
            26             40
            27             45
            28             56
            29             53
            30             32
202000 1    20             13
            21             26
            22             30
            23             55
            24             46
            25             59
            26             67
            27             71
            28             68
            29             77
            30             66
202100 1    20             10
            21             23
            22             29
            23             42
            24             55
            25             56
            26             78
            27             80
            28             72
            29             83
            30             67
202200 1    20             13
            21             33
            22             36
            23             41
            24             54
            25             73
            26             81
            27             87
            28             82
            29             88
            30             78
202300 1    20             24
            21             28
            22             44
            23             49
            24             58
            25             78
            26             88
            27             97
            28             93
            29             99
            30             87

In [158]:
#교육이라는 글자가 포함된 열값 가져오기

find_char = '교육'
columns_fc = [column for column in df.columns if find_char in column]
print(columns_fc) # 교육비가 포함된 컬럼값 가져오기

['가계지출_소비지출_교육비', '가계지출_소비지출_교육_정규교육비', '가계지출_소비지출_교육_초등교육비', '가계지출_소비지출_교육_중등교육비', '가계지출_소비지출_교육_고등교육비', '가계지출_소비지출_교육_학원보습교육비', '가계지출_소비지출_교육_학생학원교육비', '가계지출_소비지출_교육_성인학원비', '가계지출_소비지출_교육_기타교육비']

교육비 지출 분석

In [10]:
#'교육' 글자가 들어간 컬럼명의 값 찾기 
import pandas as pd

grouped = df.groupby('조사연월') #조사연월별로 
new_rows = pd.DataFrame() # 추출된 행을 저장할 빈 데이터프레임 생성
find_char = '교육' #열이름에서 찾을 글자 지정 

for y, g in grouped: 
    fr = g[(g['가구원수'] == 1) & (g["가구주_연령"] >= 20) & (g["가구주_연령"] <= 30)] #가구원수가 1이고 가구주연령이 20살~30살인 조건 지정
    columns_fc = [column for column in g.columns if '교육' in column] #교육이 포함된 열 지정
    new_rows = pd.concat([new_rows, fr[columns_fc]], ignore_index= True)#빈 데이터프레임에 fr조건을 만족하는 행값중 columns_fc 이어붙이기

    #print(f"연도 {y}에 해당하는 행 값:")
    #print(pd.DataFrame(sr) )
    print()
    
pd.DataFrame(new_rows)

,가계지출_소비지출_교육비,가계지출_소비지출_교육_정규교육비,가계지출_소비지출_교육_초등교육비,가계지출_소비지출_교육_중등교육비,가계지출_소비지출_교육_고등교육비,가계지출_소비지출_교육_학원보습교육비,가계지출_소비지출_교육_학생학원교육비,가계지출_소비지출_교육_성인학원비,가계지출_소비지출_교육_기타교육비
0,0,0,0,0,0,0,0,0,0
1,33333,0,0,0,0,33333,0,33333,0
2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3000,518000,292000,0,0,292000,226000,0,226000,0
3001,0,0,0,0,0,0,0,0,0
3002,0,0,0,0,0,0,0,0,0
3003,33333,0,0,0,0,33333,0,33333,0
3004,0,0,0,0,0,0,0,0,0

In [8]:
#'교육' 글자가 들어간 컬럼명의 값 찾기 
import pandas as pd

grouped = df.groupby('조사연월') #조사연월별로 
sr = pd.DataFrame() # 추출된 행을 저장할 빈 데이터프레임 생성
find_char = '교육' #열이름에서 찾을 글자 지정 

for y, g in grouped: 
    fr = g[(g['가구원수'] == 1) & (g["가구주_연령"] >= 20) & (g["가구주_연령"] <= 30)] #가구원수가 1이고 가구주연령이 20살~30살인 조건 지정
    columns_fc = [column for column in g.columns if '교육' in column] #교육이 포함된 열 지정
    sr = fr[fr[columns_fc] > 0].dropna(axis=1, how='any')#빈 데이터프레임에 fr조건을 만족하는 행값중 columns_fc 이어붙이기
    sr = fr[["가구원수","가구주_연령"] + columns_fc]
    
    #print(f"연도 {y}에 해당하는 행 값:")
    #print(pd.DataFrame(sr))
    #print()
pd.DataFrame(sr)

,가구원수,가구주_연령,가계지출_소비지출_교육비,가계지출_소비지출_교육_정규교육비,가계지출_소비지출_교육_초등교육비,가계지출_소비지출_교육_중등교육비,가계지출_소비지출_교육_고등교육비,가계지출_소비지출_교육_학원보습교육비,가계지출_소비지출_교육_학생학원교육비,가계지출_소비지출_교육_성인학원비,가계지출_소비지출_교육_기타교육비
46780,1,30,0,0,0,0,0,0,0,0,0
46781,1,29,21667,0,0,0,0,21667,0,21667,0
46784,1,26,0,0,0,0,0,0,0,0,0
46789,1,30,0,0,0,0,0,0,0,0,0
46790,1,29,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
59560,1,24,518000,292000,0,0,292000,226000,0,226000,0
59647,1,24,0,0,0,0,0,0,0,0,0
59661,1,28,0,0,0,0,0,0,0,0,0
59689,1,28,33333,0,0,0,0,33333,0,33333,0
59718,1,30,0,0,0,0,0,0,0,0,0

In [11]:
#2019-2023년도 교육비 총합계

ss = new_rows.sum()
ds = pd.DataFrame(ss)

ds.columns = ["총합계"]

ds

                            총합계
가계지출_소비지출_교육비         141773684
가계지출_소비지출_교육_정규교육비     74032539
가계지출_소비지출_교육_초등교육비            0
가계지출_소비지출_교육_중등교육비            0
가계지출_소비지출_교육_고등교육비     74032539
가계지출_소비지출_교육_학원보습교육비   66516878
가계지출_소비지출_교육_학생학원교육비    6714552
가계지출_소비지출_교육_성인학원비     59802327
가계지출_소비지출_교육_기타교육비      1224263

음식숙박 분석

In [15]:
import pandas as pd

grouped = df.groupby('조사연월') #조사연월별로 
sf = pd.DataFrame() # 추출된 행을 저장할 빈 데이터프레임 생성
find_char = '음식숙박' #열이름에서 찾을 글자 지정 

for y, g in grouped: 
    fr = g[(g['가구원수'] == 1) & (g["가구주_연령"] >= 20) & (g["가구주_연령"] <= 30)] #가구원수가 1이고 가구주연령이 20살~30살인 조건 지정
    columns_fc = [column for column in g.columns if '음식숙박' in column] #교육이 포함된 열 지정
    sf = pd.concat([sf, fr[columns_fc]], ignore_index= True)#빈 데이터프레임에 fr조건을 만족하는 행값중 columns_fc 이어붙이기
    # sf = fr[["가구원수","가구주_연령"] + columns_fc]

    #print(f"연도 {y}에 해당하는 행 값:")
    #print(sf) 
    print()
pd.DataFrame(sf)

      가계지출_소비지출_음식숙박비  가계지출_소비지출_음식숙박_식대  가계지출_소비지출_음식숙박_숙박비
0              139950             139950                   0
1              147913             147913                   0
2              254500             177000               77500
3              351350             351350                   0
4              410090             410090                   0
...               ...                ...                 ...
3000           179720             179720                   0
3001           383725             383725                   0
3002           278700             278700                   0
3003           669003             594337               74667
3004            76200              76200                   0

[3005 rows x 3 columns]

In [16]:
ss = sf.sum()
ds = pd.DataFrame(ss)

ds.columns = ["총합계"]

ds

                           총합계
가계지출_소비지출_음식숙박비     1111967274
가계지출_소비지출_음식숙박_식대   1057803643
가계지출_소비지출_음식숙박_숙박비    54163645